body {
    font-family: Arial, sans-serif;
    margin-top: 0px;
    font-size: 14px;
    color: #333;
}

h1, h2 {
    text-align: right;
    margin-left: -12px;
}

h3, h3 a, h3 a:hover  {
    background-color: #333;
    text-decoration: none;
    color: white;
}

p {
    width: 950px;
    padding-left: 10px;
}

pre {
    font-family: monospace;
    font-size: 12px;
    padding-left: 20px;
}

a,
a:active, a:visited {
    text-decoration: underline;
    color: #222222;
}

a:hover {
    text-decoration: underline;
}

.author {
    padding-left: 10px;
}

.entry {
}
