/* Red: ff2c00 */
/* Orange: ffb600 */
/* Blue: 00b9ff */


body {
    font-family: Arial, sans-serif;
    margin: 50px;
	padding: 0;
    font-size: 20px;
    color: #333;
}

h1 {
	display: block;
	margin: 0 0 25px 0;
	padding: 0;
	font-size: 42px;
	line-height: 32px;
	color: white;
}

h1 a {
	color: white;
}

.header a.title {
	color: #666;
	font-size: 42px;
	margin: 0;
}

.date, .author {
	color: #ffb600;
}

.header a.title:link, .header a.title:link {
	text-decoration: underline;
}

.description {
	margin: 0;
	color: white;
	font-size: 24px;
	font-family: Arial Narrow, Arial, sans-serif;
	text-decoration: none;
}

.entry { 
	background-color: #00B7FF;
	margin: 50px 0;
	padding: 50px;
}



.content {
	color: white;
}

.content a:link, .content a:visited {
	color: #ffb600;
	text-decoration: underline lime;
}