
<div class="entry">
    <h1>
		<a class="title" href="$timestamp$">$title$</a>
		<div class="description"><span class="date">$date$</span>, by <span class="author">$author$</span></div>
	</h1>
    <div class="content">$text$</div>
</div>
